div.answers {

    float: inside;
    height: 2.2rem;
    width: 20rem;
    margin: auto;
    border-radius:1rem;
    font-size: 0.8rem;
    align-content: center;
}

div.question{

    width: 28rem;

    font-size: 0.9rem;
    font-weight: bold;
    align-content: center;

}

button{
    position:relative;
    float: right;

}

.card-body{
    background-color: whitesmoke;
}

.card-body-1{

}
